[Desktop Entry]
Encoding=UTF-8
Name=Xboard
Name[af]=X-bord
Name[eo]=X-Breto
Name[ru]=Шахматы X
Name[ven]=Bodo ya X
Name[zh_CN]=X 国际象棋
Name[zh_TW]=Xboard 國際象棋
Name[zu]=X Ibhodi
Comment=Chess Game
Comment[af]=Skaak Speletjie
Comment[ar]=لعبة شطرنج
Comment[be]=Шахматы
Comment[bg]=Шах
Comment[bs]=Igra šaha
Comment[cs]=Šachy
Comment[da]=Skakspil
Comment[de]=Schachspiel
Comment[el]=Παιχνίδι Σκάκι
Comment[eo]=Ŝakludo
Comment[es]=Juego de ajedrez
Comment[et]=Male
Comment[eu]=Xakea
Comment[fi]=Shakkipeli
Comment[fr]=Jeu d'échecs
Comment[he]=משחק שחמט
Comment[hu]=sakk
Comment[is]=Skákleikur
Comment[it]=Gioco di scacchi
Comment[ja]=チェスゲーム
Comment[lt]=Šachmatai
Comment[lv]=Šaha Spēle
Comment[mt]=Logħba ċess
Comment[nl]=schaakspel
Comment[nn]=Sjakkspel
Comment[no]=Sjakkspill
Comment[pl]=Szachy
Comment[pt]=Jogo de Xadrez
Comment[pt_BR]=Xadrez
Comment[ro]=Un joc de şah
Comment[ru]=Шахматы
Comment[sk]=Šach
Comment[sl]=Igra šaha
Comment[sv]=Schackspel
Comment[th]=เกมหมากรุก
Comment[uk]=Шахи
Comment[ven]=Mutambo wa Tshese
Comment[vi]=Chơi Cờ
Comment[zh_CN]=国际象棋游戏
Comment[zh_TW]=棋類遊戲
Comment[zu]=Gnome umdlalo wechesi
Exec=xboard
Icon=xboard.png
Terminal=false
Type=Application
Categories=Game;BoardGame;
# vi: encoding=utf-8
